/*************************************************
    GENERAL STYLES
 *************************************************/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Nerko One", serif;
    font-size: 2.5em;
    padding: 1rem;
    text-align: center;
    color: #FF9614;
}

h2,
h3,
h4,
li,
p,
a{
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    font-size: 1rem;
}


img {
    max-width: 100%;
}


/************************************************
    UTILITIES
 ************************************************/

 .container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
 }

 .display-n{
    display: none;
 }

 .t-white{
    color: white;
 }

 .p-default{
    padding-left: 1rem;
    padding-right: 1rem;
 }

 .m-default{
    margin-top: 1rem;
    margin-bottom: 1rem;
 }
 
 .m-bottom-default{
    margin-bottom: 1rem;
 }


/************************************************
    SITE SECTIONS
 ************************************************/

  /* MAIN */
  main{
    background-color: #F6F5F3 ;
  }


  /* MAIN: SOCIAL-SECTION */

  #social h4 {
    padding-top: 1rem;
  }

  #type{
    color: #8c8e95;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
  }

  #social h3{
    color:#4E3969;
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }

  .video > div{
    background-color: white;
  }


 /* FOOTER */

 footer{
    background-color: #7C69A4;
 }

 footer .container{
    text-align: center;
    padding: 2rem;
 }

 footer .container a {
    margin-bottom: 1rem;
 }

 /************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/

 @media screen and (min-width: 768px){
    h1{
        text-align: left;
        font-size: 3rem;
    }

 }


 @media screen and (min-width: 1200px){
    footer .container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  }
