/*************************************************
    GENERAL STYLES
 *************************************************/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Nerko One", serif;
    font-size: 2.5em;
    padding: 1rem;
    text-align: center;
    color: #FF9614;
}

h2,
h3,
h4,
li,
p,
a {
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    font-size: 1rem;
}


img {
    max-width: 100%;
}


/************************************************
    UTILITIES
 ************************************************/

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.display-n {
    display: none;
}

.t-white {
    color: white;
}

.p-default {
    padding-left: 1rem;
    padding-right: 1rem;
}

.m-default {
    margin: 0 auto;
}

.m-bottom-default {
    margin-bottom: 1rem;
}


/************************************************
    SITE SECTIONS
 ************************************************/
/* HEADER */

header{
    position: sticky;
    top: 0;
    background-color: white;
}
/* MAIN */
main {
    background-color: #F6F5F3;
}


/* MAIN: SOCIAL-SECTION */


#social h4 {
    padding-top: 1rem;
}

#type {
    color: #8c8e95;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5px;
}

#social h3 {
    color: #4E3969;
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

.video>div {
    background-color: white;
}

.video h4 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.socials {
    margin-top: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
}


.fa-facebook,
.fa-twitter {
    color: #1A77F3;
}

.fa-youtube,
.fa-pinterest,
.fa-instagram {
    color: #E62222;
}

.socials a {
    font-size: 1.3rem;
    background-color: white;
    border-radius: 99em;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 5px rgb(171, 167, 167);
}


#banner>img {
    margin-top: 2rem;
    margin-bottom: 2rem;

    width: 100%;
}

 /* MAIN: PRESENTATION SECTION */


 #presentation h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;

    margin-top: 1.5rem;
    margin-bottom: 1rem;
 }

 #presentation hr{
    width: 20%;
    border: 1px solid #FF9614;
    padding: 0;
 }

 #presentation img{
    max-width: 375px;
    display: block;
    padding-right: 1rem;
    margin: 1rem auto 0;
 }

 #presentation p{
    font-size: 1rem;
    letter-spacing: 3px;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
 }

/* FOOTER */

footer {
    background-color: #7C69A4;
}

footer .container {
    text-align: center;
    padding: 2rem;
}

footer .container a {
    margin-bottom: 1rem;
}

/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/
 @media screen and (min-width: 576px) {

    .socials a {
        width: 15%;
        border-radius: 99em;
    }


    #presentation img{
        float: left;
    }
 }

@media screen and (min-width: 768px) {
    h1 {
        text-align: left;
        font-size: 3rem;
    }

    #social h3 .display-n,
    #banner img {
        display: inline-block;
    }

    .container .short-repice {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .container .short-repice p {
        width: calc(33% - 1rem);
    }
}


@media screen and (min-width: 992px) {


    #social,
    #banner,
    #presentation {
        max-width: 1350px;
    }

    .container {
        align-items: center;
    }


    .video {
        flex-direction: row;
        align-items: stretch;
    }

    .video img {
        width: 80%;
    }

    .video>div {
        width: 20%;
    }

    .container .short-repice {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
    }

    .container .short-repice p {
        width: 100%;
    }

    .display-n {
        display: inline;
    }

    .social-link {
        color: black;
        font-weight: 700;
        font-size: 1rem;
        text-transform: uppercase;
    }

    footer .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}